@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  &,
  &.light {
    --text-color-primary: rgb(0, 0, 0);
    --text-color-secondary: rgb(82, 82, 82);
    --text-color-tetiary: rgb(204, 204, 204);

    --bg-color-primary: rgb(248 250 252);
    --bg-color-secondary: rgb(241 245 249);
    --bg-color-tetiary: rgb(204, 204, 204);

    --bg-backdrop-primary: rgb(255 255 255 / 0.1);
    --bg-backdrop-secondary: rgba(204, 204, 204, 0.3);

    --accent-color-primary: rgb(69, 16, 105);
    --ring-offset-color: white;

    color-scheme: light;
  }

  &.dark {
    --text-color-primary: rgb(200, 198, 198);
    --text-color-secondary: rgb(170, 170, 170);
    --text-color-tetiary: rgb(100, 100, 100);

    --bg-color-primary: #212121;
    --bg-color-secondary: #303030;
    --bg-color-tetiary: #424242;

    --bg-backdrop-primary: rgb(255 255 255 / 0.1);
    --bg-backdrop-secondary: rgba(100, 100, 100, 0.3);

    --accent-color-primary: rgb(202, 153, 234);
    --ring-offset-color: black;

    color-scheme: dark;
  }
}

* {
  transition:
    background-color 500ms,
    color-scheme 500ms;
}

nav li:has(a.active) {
  color: var(--accent-color-primary);
  background-color: var(--bg-color-secondary);
  font-weight: bold;
}

.scroll-gutter-stable {
  scrollbar-gutter: stable;
}

/* Date picker styles */
.react-datepicker {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--text-color-tetiary);
}

.react-datepicker__header {
  background-color: var(--accent-color-primary);
}

.react-datepicker__day {
  background-color: var(--bg-color-tetiary);
  color: var(--text-color-primary);
  transition: all 300ms ease-out;
  border-radius: 5px;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: var(--ring-offset-color);
}

.react-datepicker__day:hover {
  background-color: var(--accent-color-primary);
  opacity: 0.75;
}

.react-datepicker__day--selected {
  background-color: var(--accent-color-primary);
  color: var(--text-color-tetiary);
  font-weight: bold;
}

.react-datepicker__triangle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .react-datepicker-popper {
    right: 0;
  }
}
