@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  &,
  &.light-mode {
    --text-color-primary: rgb(0, 0, 0);
    --text-color-secondary: rgb(82, 82, 82);
    --text-color-tetiary: rgb(204, 204, 204);

    --bg-color-primary: rgb(248 250 252);
    --bg-color-secondary: rgb(241 245 249);
    --bg-color-tetiary: rgb(204, 204, 204);

    --bg-backdrop-primary: rgb(255 255 255 / 0.1);
    --bg-backdrop-secondary: rgba(204, 204, 204, 0.3);

    --accent-color-primary: rgb(69, 16, 105);
    --accent-color-secondary: rgb(188, 50, 239);
  }

  &.dark-mode {
    --text-color-primary: rgb(255, 255, 255);
    --text-color-secondary: rgb(173, 173, 173);
    --text-color-tetiary: rgb(51, 51, 51);

    --bg-color-primary: rgb(0, 5, 5);
    --bg-color-secondary: rgb(7, 10, 14);
    --bg-color-tetiary: rgb(51, 51, 51);

    --bg-backdrop-primary: rgb(0 0 0 / 0.1);
    --bg-backdrop-secondary: rgba(51, 51, 51, 0.3);

    --accent-color-primary: rgb(202, 153, 234);
  }
}

nav li:has(a.active) {
  color: var(--accent-color-primary);
  background-color: var(--bg-color-secondary);
  font-weight: bold;
  transition:
    color 300ms ease-out,
    background-color 300ms ease-out;
}

.scroll-gutter-stable {
  scrollbar-gutter: stable;
}
